@using Enoca2.Presentation.Areas.Admin.Models
@model FilmHallViewModel
@{
    Layout = "_Layout";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>FilmHall Add</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                        <li class="breadcrumb-item active">FilmHall Transactions</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">FilmHall Add</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-controller="Film" asp-action="EditFilmHall" method="post">
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Film Id</label>
                                    <input type="text" class="form-control" asp-for="FilmId" placeholder="FilmId">
                                    <span asp-validation-for="FilmId"></span>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Hall Id</label>
                                    <input type="text" class="form-control" asp-for="HallId" placeholder="HallId">
                                    <span asp-validation-for="HallId"></span>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Sort</label>
                                    <input type="text" class="form-control" asp-for="Sort" placeholder="Sort">
                                    <span asp-validation-for="Sort"></span>
                                </div>


                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->


                </div>
                <!--/.col (left) -->

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
